//
// Page Title & Breadcrumbs
// --------------------------------------------------

// Page Title
.page-title {
    width: 100%;
    margin-bottom: 60px;
    padding: 36px 0;
    background-color: #ffffff;
    box-shadow: 0 7px 30px -6px rgba(0, 0, 0, 0.12);
    > .container,
    > .container-fluid { display: table; }
    .column {
      display: table-cell;
      vertical-align: middle;
      &:first-child {
        width: 60%;
        padding-right: 20px;
      }
    }
    h1, h2, h3 {
        margin: 0;
        font-size: 24px;
        line-height: 1.3;
    }
  }
  
  // Breadcrumbs
  .breadcrumbs {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    > li {
        display: inline-block;
        margin-left: -4px;
        padding: 5px 0;
        color: #999999;
        font-size: 13px;
        cursor: default;
        vertical-align: middle;
      &.separator {
        margin-top: 2px;
        margin-left: 3px;
        color: #505050;
        font-family: feather;
        font-size: 14px;
        &::before {
          content: '\e930';
        }
      }
      > a {
        transition: color .25s;
        color: #505050;
        text-decoration: none;
        &:hover { color: #0055ff }
      }
      &:first-child > a::before {
        display: inline-block;
        margin-top: -1px;
        margin-right: 6px;
        font-family: feather;
        font-size: 14px;
        content: '\e979';
        vertical-align: middle;
      }
    }
  }
  
  // Firefox fix
  @-moz-document url-prefix() {
    .breadcrumbs > li {
      &.separator { margin-top: 1px; }
      &:first-child > a::before { margin-top: -2px; }
    }
  }
  
  